#login-page {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

#login-form,
#register-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 5px;
}
