body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  padding-top: 50px;
  display: flex;
  background-color: rgba(211, 211, 211, 0.158);
}

#form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.form {
  margin-left: 40px;
  margin-right: 40px;
  padding: 35px 50px;
  /* opacity: 0;
  transition: opacity 0.5s ease-out; */
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 6px;
  background-color: white;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 2em;
  padding-bottom: 40px;
}

.global-input-container {
  display: flex;
}

.page-subtitle {
  margin-bottom: 30px;
}

.add-and-delete-btn-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-and-delete-btn-section .btn {
  background-color: #0076ce; /* Green */
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.add-and-delete-btn-section .btn:hover {
  background-color: #0d89e9; /* Green */
  transition: background-color 100ms;
}
